aiohappyeyeballs==2.6.1 ; python_version >= "3.12" and python_version < "4.0"
aiohttp==3.12.15 ; python_version >= "3.12" and python_version < "4.0"
aiosignal==1.4.0 ; python_version >= "3.12" and python_version < "4.0"
attrs==25.3.0 ; python_version >= "3.12" and python_version < "4.0"
cachetools==6.2.0 ; python_version >= "3.12" and python_version < "4.0"
certifi==2025.8.3 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.4.3 ; python_version >= "3.12" and python_version < "4.0"
data-pipeline-tools @ git+https://github.com/tpximpact/GCP-Data-Pipelines-DX.git@main ; python_version >= "3.12" and python_version < "4.0"
db-dtypes==1.4.3 ; python_version >= "3.12" and python_version < "4.0"
frozenlist==1.7.0 ; python_version >= "3.12" and python_version < "4.0"
google-api-core==2.25.1 ; python_version >= "3.12" and python_version < "4.0"
google-api-core[grpc]==2.25.1 ; python_version >= "3.12" and python_version < "4.0"
google-auth-oauthlib==1.2.2 ; python_version >= "3.12" and python_version < "4.0"
google-auth==2.41.1 ; python_version >= "3.12" and python_version < "4.0"
google-cloud-bigquery==3.38.0 ; python_version >= "3.12" and python_version < "4.0"
google-cloud-core==2.4.3 ; python_version >= "3.12" and python_version < "4.0"
google-cloud-secret-manager==2.24.0 ; python_version >= "3.12" and python_version < "4.0"
google-cloud==0.34.0 ; python_version >= "3.12" and python_version < "4.0"
google-crc32c==1.7.1 ; python_version >= "3.12" and python_version < "4.0"
google-resumable-media==2.7.2 ; python_version >= "3.12" and python_version < "4.0"
googleapis-common-protos==1.70.0 ; python_version >= "3.12" and python_version < "4.0"
googleapis-common-protos[grpc]==1.70.0 ; python_version >= "3.12" and python_version < "4.0"
grpc-google-iam-v1==0.14.2 ; python_version >= "3.12" and python_version < "4.0"
grpcio-status==1.75.1 ; python_version >= "3.12" and python_version < "4.0"
grpcio==1.75.1 ; python_version >= "3.12" and python_version < "4.0"
hubspot-api-client==9.0.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.10 ; python_version >= "3.12" and python_version < "4.0"
multidict==6.6.4 ; python_version >= "3.12" and python_version < "4.0"
numpy==2.3.3 ; python_version >= "3.12" and python_version < "4.0"
oauthlib==3.3.1 ; python_version >= "3.12" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.12" and python_version < "4.0"
pandas-gbq==0.23.2 ; python_version >= "3.12" and python_version < "4.0"
pandas==2.3.3 ; python_version >= "3.12" and python_version < "4.0"
propcache==0.3.2 ; python_version >= "3.12" and python_version < "4.0"
proto-plus==1.26.1 ; python_version >= "3.12" and python_version < "4.0"
protobuf==6.32.1 ; python_version >= "3.12" and python_version < "4.0"
pyarrow==21.0.0 ; python_version >= "3.12" and python_version < "4.0"
pyasn1-modules==0.4.2 ; python_version >= "3.12" and python_version < "4.0"
pyasn1==0.6.1 ; python_version >= "3.12" and python_version < "4.0"
pydata-google-auth==1.9.1 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
pytz==2025.2 ; python_version >= "3.12" and python_version < "4.0"
requests-oauthlib==2.0.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.12" and python_version < "4.0"
rsa==4.9.1 ; python_version >= "3.12" and python_version < "4"
setuptools==72.2.0 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.5.0 ; python_version >= "3.12" and python_version < "4.0"
yarl==1.20.1 ; python_version >= "3.12" and python_version < "4.0"
