# Template for .env file
# Use this file for local development. DO NOT COMMIT A REAL .env
# In Google Cloud, secrets are stored in Secret Manager.
HUBSPOT_TOKEN=changeme
DATASET_ID=Hubspot_Raw
TABLE_NAME=hubspot_deals
TABLE_LOCATION=europe-west2
GOOGLE_CLOUD_PROJECT=tpx-dx-dashboards
